:root{ --primary: #444444; --secondary: #999999; --title: #ffffff; }
nav { background: var(--primary); border-bottom: 3px solid var(--secondary); }
nav a { text-transform: uppercase; color: var(--title); }
nav a span { font-weight: bold; }
nav .sidenav-trigger { margin: 0; }
